hackathon/index.html
<html><head><link rel="stylesheet" href="./css/bootstrap.min.css"/><link rel="stylesheet" href="./css/style.css"/></head><body><nav class="navbar navbar-default"><div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display--><div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span>        <span class="icon-bar"></span>        <span class="icon-bar"></span>        <span class="icon-bar"></span></button>      <a href="#" class="navbar-brand">Brand</a></div><!-- Collect the nav links, forms, and other content for toggling--><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li><a href="/">Link</a></li></ul></div><!-- /.navbar-collapse--></div><!-- /.container-fluid--></nav><img src="./Preloader_3.gif" class="loader hide"/><div class="container"><div class="row"><div class="col-sm-8 col-sm-offset-2"><form class="enter-adhar-number vcenter"><div class="form-group"><div class="input-group"><input type="number" placeholder="Enter Aadhar Card Number" class="form-control"/><span class="input-group-btn"><button type="submit" class="btn btn-primary">Submit</button></span></div><br/></div></form><form class="enter-otp hide"><div class="form-group"><div class="input-group"><input type="number" placeholder="Enter OTP Sent to your registered Mobile/Email" class="form-control otp-input"/><span class="input-group-btn"><button type="submit" class="btn btn-primary">Verify</button></span></div></div></form><button type="button" class="btn btn-primary ptext hide">Select other method of verification</button><br/><div class="text-center hide verification-method-radio"><ul class="nav nav-tabs"><li class="fingerprint-label active"><a href="#bio" role="tab" data-toggle="tab">Biometrics ( Fingerprint/Iris scan)</a></li><li class="otp-label"><a href="#dg" role="tab" data-toggle="tab">Demographics (Full Name,DoB,Address,Gender,Email)</a></li></ul></div></div><div class="tab-content hide"><div id="bio" class="tab-pane active"><div class="jumbotron col-sm-8 col-sm-offset-2 bio"><p class="text-center">Connect to a UID approved biometric device.</p></div></div><div id="dg" class="tab-pane"><div class="jumbotron col-sm-8 col-sm-offset-2 dg"><form class="form-horizontal dg-form"><div class="form-group"><label for="" class="col-lg-2 control-label">Full Name</label>      <div class="col-lg-10"><input type="text" placeholder="Full Name" name="full_name" required="required" class="form-control"/></div></div><div class="form-group"><label for="" class="col-lg-2 control-label">Date of Birth</label>      <div class="col-lg-10"><input type="date" placeholder="DoB" name="dob" required="required" class="form-control"/></div></div><div class="form-group"><label for="" class="col-lg-2 control-label">Email</label>      <div class="col-lg-10"><input type="email" placeholder="Email" name="email" required="required" class="form-control"/></div></div><div class="form-group"><label for="" class="col-lg-2 control-label">Address</label>      <div class="col-lg-10"><textarea type="text" placeholder="Address" name="address" required="required" class="form-control">  </textarea></div></div><div class="form-group">      <div class="col-lg-10"><label for="" class="col-lg-2">Gender</label><label class="gender-label"><input type="radio" value="m" name="gender"/>male</label><label class="gender-label"><input type="radio" value="f" name="gender"/>female</label><label class="gender-label"><input type="radio" value="tr" name="gender"/>Others</label></div></div>    <div class="form-group"><div class="col-lg-10 col-lg-offset-2 pull-right"><button type="reset" class="btn btn-default">Cancel</button>        <button type="submit" class="btn btn-primary">Submit</button></div></div></form></div></div></div></div><div class="jumbotron col-sm-8 col-sm-offset-2 upload-jumbo hide login"><h4 class="text-center heading-text">Login to DigiLocker</h4><form class="form-horizontal">    <div class="form-group"><label for="" class="col-lg-2 control-label">Email</label>      <div class="col-lg-10"><input type="text" placeholder="Email" class="form-control"/></div></div>    <div class="form-group"><label for="inputPassword" class="col-lg-2 control-label">Password</label>      <div class="col-lg-10"><input id="inputPassword" type="password" placeholder="Password" class="form-control"/></div></div>    <div class="form-group"><div class="col-lg-10 col-lg-offset-2 pull-right"><button type="reset" class="btn btn-default">Cancel</button>        <button type="submit" class="btn btn-primary">Submit</button></div></div></form></div><div class="jumbotron col-sm-8 col-sm-offset-2 upload-jumbo hide upload"><h4 class="text-center heading-text">Uploaded Document</h4><div class="list-group"><label href="#" class="list-group-item"><div class="list-group-item-heading"><i class="glyphicon glyphicon-cloud-upload"> </i>Driving Licence<input type="checkbox" name="docs"/></div></label><label href="#" class="list-group-item"><div class="list-group-item-heading"><i class="glyphicon glyphicon-cloud-upload"> </i>Passport<input type="checkbox" name="docs"/></div></label><label href="#" class="list-group-item"><div class="list-group-item-heading"><i class="glyphicon glyphicon-cloud-upload"> </i>PAN Card<input type="checkbox" name="docs"/></div></label><label href="#" class="list-group-item"><div class="list-group-item-heading"><i class="glyphicon glyphicon-cloud-upload"> </i>Voters ID Card<input type="checkbox" name="docs"/></div></label><label href="#" class="list-group-item"><div class="list-group-item-heading"><i class="glyphicon glyphicon-cloud-upload"> </i>Ration Card<input type="checkbox" name="docs"/></div></label></div><button type="reset" class="btn btn-default">Cancel</button>        <button type="submit" class="btn btn-primary">Submit</button></div></div><div class="container redirect-container hide"><div class="row"><div class="col-sm-8 col-sm-offset-2"><div class="alert alert-dismissible alert-success"><strong>Welcome <span class="username"></span></strong><span>Redirecting you to your wallet.</span></div></div></div></div></body><script src="./js/jquery-2.1.4.min.js"></script><script src="./js/bootstrap.min.js"></script><script src="./js/main.js"></script></html>

hackathon/index.jade
html
	head
		link(rel="stylesheet" href="./css/bootstrap.min.css")
		link(rel="stylesheet" href="./css/style.css")
	body
		nav.navbar.navbar-default
			.container-fluid
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
						span.sr-only Toggle navigation
						|         
						span.icon-bar
						|         
						span.icon-bar
						|         
						span.icon-bar
					|       
					a.navbar-brand(href='#') Brand
				// Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/') Link
				// /.navbar-collapse
			// /.container-fluid
		img.loader.hide(src="./Preloader_3.gif")
		.container
			.row
				.col-sm-8.col-sm-offset-2
					form.enter-adhar-number.vcenter
						.form-group
							.input-group
								input.form-control(type="number" placeholder="Enter Aadhar Card Number")
								//- min= 16 , max= 16 
								span.input-group-btn
									button.btn.btn-primary(type='submit') Submit
							br
					form.enter-otp.hide
						.form-group
							.input-group
								input.form-control.otp-input(type="number" placeholder="Enter OTP Sent to your registered Mobile/Email")
								//- min= 16 , max= 16 
								span.input-group-btn
									button.btn.btn-primary(type='submit') Verify
					button.btn.btn-primary.ptext.hide(type="button") Select other method of verification
					br
					.text-center.hide.verification-method-radio
						ul.nav.nav-tabs
							li.fingerprint-label.active
								a(href="#bio", role ="tab" , data-toggle="tab")
									| Biometrics ( Fingerprint/Iris scan)
							li.otp-label
								a(href="#dg", role ="tab" , data-toggle="tab")
									| Demographics (Full Name,DoB,Address,Gender,Email)
				.tab-content.hide
					.tab-pane.active#bio
						.jumbotron.col-sm-8.col-sm-offset-2.bio
							p.text-center Connect to a UID approved biometric device.
					.tab-pane#dg
						.jumbotron.col-sm-8.col-sm-offset-2.dg
							form.form-horizontal.dg-form
								.form-group
									label.col-lg-2.control-label(for='') Full Name
									|       
									.col-lg-10
										input.form-control(type='text', placeholder='Full Name' name="full_name" required)  
								.form-group
									label.col-lg-2.control-label(for='') Date of Birth
									|       
									.col-lg-10
										input.form-control(type='date', placeholder='DoB' , name="dob" required)  
								.form-group
									label.col-lg-2.control-label(for='') Email
									|       
									.col-lg-10
										input.form-control(type='email', placeholder='Email' , name="email" required)
								.form-group
									label.col-lg-2.control-label(for='') Address
									|       
									.col-lg-10
										textarea.form-control(type='text', placeholder='Address',name="address" required)   
								.form-group
									|       
									.col-lg-10
										label.col-lg-2(for='') Gender
										label.gender-label
											input(type="radio" value="m" name="gender")
											| male
										label.gender-label
											input(type="radio" value="f" name="gender")
											| female
										label.gender-label
											input(type="radio" value="tr" name="gender")
											| Others
								|     
								.form-group
									.col-lg-10.col-lg-offset-2.pull-right
										button.btn.btn-default(type='reset') Cancel
										|         
										button.btn.btn-primary(type='submit') Submit
			.jumbotron.col-sm-8.col-sm-offset-2.upload-jumbo.hide.login
				h4.text-center.heading-text Login to DigiLocker
				form.form-horizontal
						|     
						.form-group
							label.col-lg-2.control-label(for='') Email
							|       
							.col-lg-10
								input.form-control(type='text', placeholder='Email')
						|     
						.form-group
							label.col-lg-2.control-label(for='inputPassword') Password
							|       
							.col-lg-10
								input#inputPassword.form-control(type='password', placeholder='Password')
						|     
						.form-group
							.col-lg-10.col-lg-offset-2.pull-right
								button.btn.btn-default(type='reset') Cancel
								|         
								button.btn.btn-primary(type='submit') Submit
			.jumbotron.col-sm-8.col-sm-offset-2.upload-jumbo.hide.upload
				h4.text-center.heading-text Uploaded Document
				.list-group
					label.list-group-item(href='#')
						.list-group-item-heading
							i.glyphicon.glyphicon-cloud-upload 
							| Driving Licence
							input(type="checkbox" name="docs")
					label.list-group-item(href='#')
						.list-group-item-heading
							i.glyphicon.glyphicon-cloud-upload 
							| Passport
							input(type="checkbox" name="docs")
					label.list-group-item(href='#')
						.list-group-item-heading
							i.glyphicon.glyphicon-cloud-upload 
							| PAN Card
							input(type="checkbox" name="docs")
					label.list-group-item(href='#')
						.list-group-item-heading
							i.glyphicon.glyphicon-cloud-upload 
							| Voters ID Card
							input(type="checkbox" name="docs")
					label.list-group-item(href='#')
						.list-group-item-heading
							i.glyphicon.glyphicon-cloud-upload 
							| Ration Card
							input(type="checkbox" name="docs")
				button.btn.btn-default(type='reset') Cancel
				|         
				button.btn.btn-primary(type='submit') Submit
		.container.redirect-container.hide
			.row
				.col-sm-8.col-sm-offset-2
					.alert.alert-dismissible.alert-success
						strong Welcome 
							span.username
						span Redirecting you to your wallet.
	script(src="./js/jquery-2.1.4.min.js")
	script(src="./js/bootstrap.min.js")
	script(src="./js/main.js")
